<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Fira+Mono:400,500&display=swap&subset=cyrillic"
    rel="stylesheet">

  <!-- Font Awsome CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"
    integrity="sha256-46qynGAkLSFpVbEBog43gvNhfrOj+BmwXdxFgVK/Kvc=" crossorigin="anonymous" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous">

  <!-- Prism CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/prism.css') }}">

  <!-- my custom css -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

  <title>Omega 29</title>
</head>

<body data-spy="scroll" data-target="#toc nav" data-offset="20">

  <div class="container">

    <!-- TOP -->
    <div class="row py-2 top">
      {% import '_macros/macros.html' as macros %}
      {{ macros.render_search(q) }}
      {{ macros.render_breadcrumb(breadcrumb_items) }}
    </div>

    <!-- MAIN CONTENT -->
    <div class="row" id="contents">
      {% block main %}{% endblock %}
    </div> <!-- /row -->

  </div>


  <!-- BACK TO TOP BUTTON -->
  <a id="back-to-top" href="#" class="btn btn-primary border-0 btn-lg" role="button">
    <i class="fas fa-chevron-up"></i>
  </a>

  <!-- FOOTER -->
  <footer></footer>


  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

  <!-- anchor.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.2.0/anchor.js"></script>

  <!-- prism.js -->
  <script src="{{ url_for('static', filename='js/prism.js') }}"></script>

  <!-- clipboard.js -->
  <script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>

  <!-- my custom js -->
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>

</html>
