{% extends 'base.html' %}

{% block main %}
<div class="col col-sm-12 col-lg-8 offset-lg-2">

  <!-- LIST -->
  <div class="list-group list-group-flush list-content">

    {% for node in nodes %}
    <a href="{{ url_for(node.endpoint) }}"
      class="list-group-item list-group-item-action d-flex justify-content-between align-items-center font-weight-bold">
      <div class="d-inline-block d-flex align-items-center">
        {% if node.type == 'folder' %}
          <i class="fas fa-folder text-info mr-3"></i>
        {% elif node.type == 'page' %}
          <i class="far fa-file-alt text-info mr-3"></i>
        {% endif %}
        {{ node.name }}
      </div>
      {% if node.type == 'folder' %}
        <span class="badge badge-primary badge-pill">{{ node.children }}</span>
      {% endif %}
    </a>
    {% endfor %}

  </div> <!-- /list -->

</div> <!-- /col-md-9 -->
{% endblock main %}
